*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 100px;
    width: 100px;
    /* padding: 20px; */
     
}
img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.choices{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 3rem;
    padding: 10px;
}

img:hover{
    cursor: pointer;
    width: 110px;
    height: 110px;
}

.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-size:2rem ;
}
.msg-container{
    margin-top: 5rem;
}
#msg{    
    font-size: 2rem;
    background-color: #076340;
    color: #fff;
    width:fit-content;
    line-height: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    display: inline;   
    
}
#msg:hover{
    cursor: pointer;
    background-color:#081b31;
    color: #fff;
}